@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding : 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-search{
  height: 40px;
  padding: 16px;
  font-weight: bold;
}

.Movie-container{
  width: 100%;
}
.Movie-wrapper{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  width : 250px;
  margin: 15px;
  height: auto;
  border-radius: 10px;
  background-color: #282c34;
  box-shadow : 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}
.Movie-image{
  width: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom : 5px;
}
.Movie-rate{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 17px;
  display: flex;
  border-radius: 20px;
  width: 28%;
  color: #F1F6F9;
  justify-content: flex-start;
  align-items: center;
}
.rate{
  margin-right: 5px;
  width: 18px;
  height: 18px;

}
.Movie-title{
  float : left;
  margin-top: 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #F1F6F9;
  font-weight: bold;
}
.Movie-date{
  margin-top: 5px;
  color: #F1F6F9;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
}


